.go_button_container {
  justify-content: center;
  margin: 20px 0 0;
  display: none;
}

.go_button_container a {
  margin: 5px;
  text-decoration: none;
  width: 40%;
}

.go_button_container a.explore {
  width: fit-content;
}

.go_button_container button {
  background-color: #1b1b1d;
  color: #fff;
  padding: 0.7rem 2rem;
  font-size: var(--small-font);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'air-regular';
  width: 100%;
  box-sizing: border-box;
}

.go_button_container button span {
  position: relative;
  top: 1px;
  left: 2px;
  display: none;
}

.go_button_container button.explore {
  width: fit-content;
  padding: 0.6rem 2rem;
}

.go_button_container button.explore span {
  display: initial;
  position: relative;
}

.go_button_container button:hover {
  border: 1px solid #A6A6A7;
}

.go_button_container button:focus {
  outline: none;
}

.go_button_container button b {
  transform: rotate(180deg);
  margin: 0;
  font-weight: 100;
  margin-right: 5px;
}

@media (max-width: 993px)  {
  .go_button_container {
    display: flex;
    margin-bottom: 20px;
  }
}