@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");

.back-button {
  display: flex;
  align-items: center;
  width: fit-content;
}

.back-button svg {
  position: relative;
  left: -2px;
}

.post-meta {
  margin: 1.5rem 0 4rem;
}

.post-meta .post-timing {
  color: grey;
  font-size: var(--small-font);
  margin-right: 1rem;
}

.post-meta .post-title {
  margin: 0.8rem 0;
}

.post-meta .post-tags {
  font-size: var(--small-font);
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  font-family: "air-semibold";
  color: #bebebe;
  text-transform: uppercase;
}

.post-footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.posts-nav {
  max-width: 70%;
  text-decoration: none;
}

.posts-nav:hover p {
  text-decoration: #a7a7a773 underline;
}

.posts-nav.post-pre {
  margin-right: auto;
}

.posts-nav.post-next {
  flex-direction: row-reverse;
  text-align: right;
  grid-column-start: 2;
  margin-left: auto;
}

.posts-nav small {
  font-size: var(--small-font);
  font-size: 0.65rem;
  letter-spacing: 1.5px;
  font-family: "air-semibold";
  color: #ffffff;
  text-transform: uppercase;
}

.posts-nav p {
  margin: 0.5rem 0 0;
  display: flex;
  flex-direction: column;
  font-size: var(--normal-font);
  line-height: 1.5;
  color: #bebebe;
}

@media screen and (max-width: 600px) {
  .post-meta .post-title {
    font-size: var(--h3-font);
  }

  .post-content h2 {
    font-size: var(--h4-font);
  }

  .post-content h3 {
    font-size: var(--semi-font);
  }

  .post-content h4 {
    font-size: var(--normal-font);
  }

  .post-footer {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 2rem;
  }

  .posts-nav {
    max-width: 100%;
  }

  .posts-nav.post-pre {
    margin-right: 20%;
  }

  .posts-nav.post-next {
    margin-left: 20%;
  }
}

.post-content {
  margin-bottom: 4rem;
}

.post-content p {
  line-height: 2;
  font-size: var(--semi-font);
  color: #b3b3b3;
}

.post-content h2 {
  margin-top: 2.5rem;
}

.post-content ul {
  list-style: square;
  margin: 1.5rem 0;

  /* START CSS WORD WRAP FOR MESSAGES - BY CSS TRICKS */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  /* END CSS WORD WRAP FOR MESSAGES - BY CSS TRICKS */
}

.post-content ul li {
  font-size: var(--semi-font);
  color: #b3b3b3;
  margin-bottom: 0.7rem;
  line-height: 1.5;
}

.post-content strong {
  font-family: "air-regular";
  color: #ffffff;
}

.post-content a {
  color: #ffffff;
  text-decoration: #bebebe underline;
}

.post-content em {
  font-family: "Droid Sans Mono", monospace;
  text-decoration: none;
  font-style: normal;
  background-color: #b3b3b34f;
  padding: 0.1rem 0.2rem 0.2rem;
  color: #d6d6d6;
  font-size: var(--small-font);
}

.post-content pre {
  padding: 3rem;
  font-family: "Droid Sans Mono", monospace;
  font-size: var(--semi-font);
  position: relative;
  background-color: #151519;
}

.post-content .copy-code {
  position: absolute;
  inset: 0.7rem 0.7rem auto auto;
  color: #9c9c9c;
  background-color: #b3b3b34f;
  border: none;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  font-size: var(--small-font);
  border-radius: 3px;
}
