.base_container {
  padding: 8% 5% 8% 15%;
  /* padding-left: 15%; */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.intro_box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.intro_box h1 {
  font-style: normal;
  font-weight: 700;
  font-size: var(--h1-font);
  line-height: 62px;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.intro_box h1 .mobile_grt {
  display: none;
}

.intro_box avi {
  padding: 10px;
}

.description {
  display: flex;
  padding-right: 20%;
}

.description p {
  font-style: normal;
  font-weight: normal;
  font-size: var(--normal-font);
  line-height: 21px;
  color: #FFFFFF;
  margin: 0;
  line-height: 2;
}

.description p span {
  color: #777778;
}

.description p span.highlight {
  color: #fff;
}

.hero .social_buttons {
  display: none;
}

nav {
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  margin: 8px 0;
  padding: 0;
  color: #777778;
}

nav ul li small {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: var(--small-font);
}

nav ul li small a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

nav ul li a img {
  margin: 0 10px;
  width: 30px;
  pointer-events: none;
  transition: width .3s linear;
  opacity: 0.5;
}

nav ul li.active_menu {
  opacity: 1;
  transition: all .3s linear;
  color: #fff;
}

nav ul li.active_menu a img {
  margin: 0 10px;
  width:50px;
  transition: width .3s linear;
  opacity: 1;
}

nav ul li:hover {
  opacity: 1;
  transition: all .3s linear;
  color: #fff;
}

nav ul li:hover a img {
  margin: 0 10px;
  width: 50px;
  transition: width .3s linear;
}


.footer {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}

.footer img {
  width: fit-content;
  max-width: 70%;
  margin-right: 15px;
}

.footer .social {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
}

.footer .social a {
  display: flex;
  align-items: center;
  font-size: var(--normal-font);
  margin-right: 5px;
  color: inherit;
  text-decoration: none;
}

.footer .social a i {
  margin-right: 10px;
  color: grey;
}

.footer .social a img {
 width: 20%;
 margin-left: 2px;
 height: 70%;
}

.base_container .go_button_container {
  display: none !important;
}

@media(max-width: 993px) {

  .intro_box h1 .desktop_grt {
    display: none;
  }

  .intro_box h1 .mobile_grt {
    display: inline;
  }

  .base_container .go_button_container {
    display: flex !important;
  }
}
