#header {
  display: flex;
  flex-direction: column;
}

#header .header_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 100;
}

#header .header_wrapper .logo_container {
  width: fit-content;
}

#header .header_wrapper .logo_container img {
  width: 90px;
}
