.work {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.work .portfolio_showcase {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.6rem;
  row-gap: 0.6rem;

  width: 100%;
  margin-bottom: 3rem;
}

.work .portfolio_showcase_full {
  grid-template-columns: 1fr;
}

.work .portfolio_showcase .title {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 1rem 0;
  font-size: var(--xsmall-font);
  color: #777778;
  font-family: "air-semibold";
}

.work .portfolio_showcase_full .title {
  grid-column-start: unset;
  grid-column-end: unset;
}

.work .portfolio_showcase:hover .box_container {
  opacity: 0.4;
}

@media (max-width: 993px) {
  .work {
    margin: 30px 0px;
  }

  .work .portfolio_showcase {
    grid-template-columns: 1fr;
  }

  .work .portfolio_showcase .title {
    grid-column-start: unset;
    grid-column-end: unset;
    margin: 0 10px;
  }
}
