.work .post .post_title h3 {
  font-size: calc(var(--h4-font) - 0.2rem);
}

@media (max-width: 993px) {
  .work .post .post_meta .post_tags {
    font-size: 0.8rem;
  }

  .work .post .post_meta .post_date {
    font-size: 0.9rem;
  }

  .work .post .post_title h3 {
    font-size: 1.2rem;
  }
}
