.layout {
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 47% 1fr;
}

.container .fixed {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container .main {
  height: 100vh;
  overflow-y: auto;
}


.main::-webkit-scrollbar {
  width: 7px;
}

.main::-webkit-scrollbar-track {
  background: #101011;
}

.main::-webkit-scrollbar-thumb {
  background:#101011;
  background: #16161A;
}

.main::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container .main .pages_container {
  padding: 10% 15% 10% 5%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.base_container {
  padding: 10% 5% 10% 15%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

/*===== RESPONSIVE STYLING =====*/

.mobile_container {
  display: none;
}

.mobile_header_wrap {
  display: none;
}

@media (min-width: 994px) and (max-width: 1200px) {
  .layout .container .fixed .base_container {
    padding-left: 8%;
  }

  .layout .container .main .pages_container  {
    padding-right: 8%;
  }

  h1 {
    font-size: 34px !important;
  }
}

@media (max-width: 993px) {

  .layout {
    overflow: auto;
    height: auto;
  }

  #layout_full {
    height: auto;
  }

  .layout .container {
    grid-template-columns: 1fr;
  }

  .container .fixed {
    height: auto;
  }

  .container .main {
    height: auto;
    overflow-y: visible;
  }

  .container .fixed .base_container {
    padding: 0 calc(5% + 10px);
  }

  .container .main .pages_container {
    padding: 0 5% 5%;
  }

  .mobile_header_wrap {
    display: block;
    padding: 1.5rem calc(5% + 10px) 5rem;
  }
}

.mobile_footer_links {
  display: none;
}

@media (max-width: 993px) {
  .mobile_footer_links {
    display: flex;
    flex-direction: column;
    margin-top: calc(-2% - 1.5rem);
    padding: 0 10px 2.5rem;
  }

  .mobile_footer_links a {
    display: flex;
    align-items: center;
    color: #777778;
    text-decoration: none;
    font-size: 1rem;
    padding: 1.1rem 0;
  }

  .mobile_footer_links a i {
    margin-left: 0.4rem;
    font-size: 0.55rem;
  }
}

/* STYLING FOR BLOG POST LAYOUT */

.layout_article .container {
  grid-template-columns: 1fr;
  margin: auto;
}

.layout_article .container .fixed {
  display: none;
}

.layout_article .container .main .pages_container {
  padding: 5% 5% 10%;
  max-width: 900px;
  margin: auto;
}

.layout_article #mobile {
  margin: 3rem 0;
}

.layout_article .mobile_container .social_buttons {
  display: none !important;
}
