.layout {
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 47% 1fr;
}

.container .fixed {
  height: 100vh; 
  display: flex;
  justify-content: center;
}

.container .main {
  height: 100vh;
  overflow-y: auto;
}


.main::-webkit-scrollbar {
  width: 7px;
}

.main::-webkit-scrollbar-track {
  background: #101011; 
}
 
.main::-webkit-scrollbar-thumb {
  background:#101011; 
  background: #16161A;
}

.main::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.container .main .pages_container {
  padding: 10% 15% 10% 5%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.base_container {
  padding: 10% 5% 10% 15%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

/*===== RESPONSIVE STYLING =====*/

#mobile {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  flex-grow: 1;
}

.mobile_container {
  display: none;
}

@media (min-width: 994px) and (max-width: 1200px) {
  .layout .container .fixed .base_container {
    padding-left: 8%;
  }

  .layout .container .main .pages_container  {
    padding-right: 8%;
  }

  h1 {
    font-size: 34px !important;
  }
}

@media (max-width: 993px) {

  .layout {
    overflow: auto;
    height: auto;
  }

  #layout_full {
    height: 100%;
  }

  .layout .container {
    display: none;
  }

  .mobile_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    box-sizing: border-box;

    height: 100%;
  }
}

/* STYLING FOR BLOG POST LAYOUT */

.layout_article .container {
  grid-template-columns: 1fr;
  max-width: 900px;
  margin: auto;
}

.layout_article .container .fixed {
  display: none;
}

.layout_article .container .main .pages_container {
  padding: 5%;
}

.layout_article #mobile {
  margin: 3rem 0;
} 

.layout_article .mobile_container .social_buttons {
  display: none !important;
}
